body{
	background-color:#2a2a2a;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color:white;
	font-size:11px;
}
.header{
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(255, 255, 255, .3);
	box-shadow: 0 3px 5px 0px rgba(0,0,0,.1);
	text-align:right;
	width:100%;
	min-width:960px;
	z-index:1000;
}
.header img{
	position:absolute;
	top:0px;
	left:30px;
}
.header select{
	margin-top:15px;
	margin-bottom:15px;
	margin-right:10px;
}
.header .quem{
	margin-right:30px;
}
.bg{
	min-width:960px;
	position:absolute;
/*	background-color:rgba(255, 0, 0, .2);*/
	z-index:1;
}
.contents {
	min-width:960px;
	position:absolute;
/*	background-color:rgba(0, 0, 255, .2);*/
	z-index:2;
}
.contents .timeline{
	min-width:960px;
	position:absolute;
	z-index:3;
}
.contents .activities{
	min-width:960px;
	position:absolute;
	z-index:4;
}
.footer {
	min-width:960px;
	position:fixed;
	bottom:0;
	left:0;
	color:rgba(255, 255, 255, .6);
	z-index:999;
}
.footer .content-info{
	min-width:960px;
	height:100px;
	background-color:rgba(0, 0, 0, .3);
}
.footer .site-info{
	min-width:960px;
/*	height:33px;*/
	background-color:rgba(0, 0, 0, .6);
	text-align: right;
}
.footer .site-info p{
	margin:0px;
	padding:10px;
}
.footer .site-info a{
	text-decoration:none;
	color:rgba(255,255,255,.6);
}
.footer .site-info a:hover{
	color:rgba(255,255,255,1);
}
.footer .site-info img{
	float:right;
	height:26px;
	margin-top:-7px;
	margin-left:15px;
	margin-right:30px;
}
.bgcover{
	background-repeat:no-repeat;
	background-position:center;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}