/* ====== GERAL ====== */
body{
/*	background-color:#2a2a2a;*/
	background-color:black;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color:white;
	font-size:11px;
}
.bgcover{
	background-repeat:no-repeat;
	background-position:center;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}
h1{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:24px;
}
h2{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:15px;
	color:#444;
}
.fake-link, a{
	text-decoration:none;
	color:black;
}
.fake-link:hover, a:hover{
/*	text-decoration:underline;*/
	cursor:pointer;
	color:#444;
}
p{
	color:#444;
}
em{
	font-style: normal;
}
.float{
	width:100%;
	float:left;
}

/* ====== BALLOON ====== */
#balloon{
	position:absolute;
	width:774px;
/*	height:506px;*/
	z-index:1001;
	color:#444;
	display:none;
}
#balloon p{
	line-height:18px;
}
.balloon.seta{
	width:40px;
	height:256px;
	top:126px;
	position:absolute;
}
.balloon.seta.next{
	left:774px;
	background-image:url(../img/interface/aba_next.png);
}
.balloon.seta.next:hover{
	background-image:url(../img/interface/aba_next_over.png);
}
.balloon.seta.prev{
	left:-32px;
	background-image:url(../img/interface/aba_prev.png);
}
.balloon.seta.prev:hover{
	background-image:url(../img/interface/aba_prev_over.png);
}
.balloon.tip{
	float:left;
	width:8px;
	height:15px;
	margin-top:54px;
	background-image:url(../img/interface/biqueta.gif);
	display:none;
}
.mini.balloon.tip{
	margin-left:-8px;
	margin-top:103px;
	display:block;
}
.balloon.top img{
	float:left;
}
.balloon.top .pin{
	float:none;
	margin-left: 4px;
	margin-bottom: -1px;
}
.balloon.top h1{
	color:#444;;
}
.balloon.top .fechar{
	float:right;
	opacity:.4;
	cursor:pointer;
}
#txt-block{
	position:relative;
	display:inline-block;
	margin-top:-10px;
	margin-left:20px;
	width:600px;
}
#txt-block .first-p{
	margin-top:-2px;
}
#balloon-top{
	position:relative;
	float:right;
	width:726px;
	padding:20px;
	background-color:rgba(255,255,255,1);
}
.todosEspacos{
	position: absolute;
	margin-left: -64px;
	margin-top: 7px;
	width: 40px;
	font-size:11px;
}
.thumb-espaco{
	width:86px;
	height:86px;
	float:left;
}
.balloon.top h1{
	font-size:29px;
	margin-left:-2px;
	margin-bottom:5px;
	margin-top:8px;
	line-height:28px;
}
.balloon.top p{
/*	font-size:29px;*/
	margin-top:0px;
	margin-bottom:0px;
}
#balloon-body{
	position:relative;
	float:right;
	width:726px;
	padding:20px;
	background-color:rgba(255,255,255,.85);
/*	background-color:rgba(210,210,210,.9);*/
}
#slideshow{
	width:324px;
	height:216px;
	overflow:hidden;
}
#slideshow-controls{
	width:324px;
	height:216px;
	position:absolute;
	top:22px;
	left:20px;
/*	display:none;*/
}
#slideshow-controls .previous{
	float:left;
	opacity:.4;
/*	margin-left:10px;*/
	width:144px;
	height:216px;
	opacity:0;
	background-image:url(../img/interface/previous.png);
	background-repeat:no-repeat;
	background-position:7%;
	cursor:pointer;
}
#slideshow-controls .previous:hover{
	opacity:.5;
}
#slideshow-controls .next{
	float:right;
	opacity:.4;
/*	margin-right:10px;*/
	width:144px;
	height:216px;
	opacity:0;
	background-image:url(../img/interface/next.png);
	background-repeat:no-repeat;
	background-position:93%;
	cursor:pointer;
}
#slideshow-controls .next:hover{
	opacity:.5;
}
.slideshow-img{
	width:324px;
	height:216px;
	display:inline-block;
}
.slideshow-img h5{
	display:block;
	text-align:right;
	font-weight:bold;
	color:white;
	text-shadow: 0px 1px 3px #000;
	margin-top: 197px;
	margin-bottom: 0px;
	margin-right: 9px;
	font-size: 9px;
}
.slideshow-img span{
	padding:5px;
	padding-top:1px;
	padding-bottom:2px;
	border-radius:2px;
	background-color:rgba(0,0,0,.5);
}
.balloon.cross{
	width:324px;
	height:48px;
	margin-top:5px;
	background-color:white;
	text-align:left;
	overflow:hidden;
	cursor:pointer;
}
.balloon.cross.selected{
	cursor:default;
}
.balloon.cross em{
	color:#666;
}
.balloon.cross h2{
	margin:0px;
	font-size:13px;
/*	color:white;*/
	font-weight:normal;
	margin-top:7px;
	margin-left:99px;
}
.balloon.cross.selected h2{
	opacity:.5;
}
.balloon.cross h1{
	margin:0px;
	font-size:15px;
/*	color:white;*/
	margin-top:-2px;
	margin-left:98px;
	white-space: nowrap;
}
.balloon.cross.selected h1{
	opacity:.5;
}
.balloon.cross .cross-img{
	width: 86px;
	height: 48px;
/*	margin-top: 5px;*/
/*	opacity:.3;*/
	position: absolute;
}
.balloon.cross.selected .cross-img{
	opacity:.5;
}
.balloon.cross .reticencias{
	width: 36px;
	height: 48px;
	position: absolute;
	margin-left: 289px;
}
#mini-balloon{
	position:relative;
	float:right;
	width:382px;
	background-color:rgba(255,255,255,1);
	margin-top:-216px;
}
#mini-balloon-body{
	padding:20px;
	padding-bottom:8px;
}
#mini-balloon-body h2{
	position:relative;
	font-weight:normal;
	margin:0px;
	margin-top:-3px;
	margin-bottom:-2px;
}
#estrelas{
	float:right;
	margin-top:-10px;
}
#opine{
	display:none;
	position:absolute;
	float:right;
	left:268px;
	top:12px;
}
#estrelas-opine{
	position:absolute;
	float:right;
	left:40px;
	top:12px;
	width:60px;
}
.estrela{
	display:inline-block;
	width:11px;
	height:11px;
	background-image:url(../img/interface/estrela-cinza.png);
	cursor:pointer;
}
#mini-balloon-body h1{
	font-size:20px;
	margin:0px;
	margin-bottom:-2px;
	line-height: 20px;
	margin-top: 2px;
}
#mini-balloon-body a, #mini-balloon-body .fake-link{
	font-weight:bold;
}
#bio{
	opacity:1;
}
#bio.hidden{
	opacity:0;
}
#mini-balloon-footer{
	position:absolute;
	float:right;
	width:342px;
	padding:20px;
	background-color:rgba(255,255,255,.5);
	top:20px;
	right:20px;
	opacity:0;
}
#mini-balloon-footer.show{
	opacity:1;
}
#facebook{
	display:inline-block;
	margin-left:14px;
	padding-top:1px;
	position:absolute;
}
#twitter{
	display:inline-block;
}


/* ====== HEADER ====== */
.header{
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(255, 255, 255, .3);
	box-shadow: 0 3px 5px 0px rgba(0,0,0,.1);
	text-align:right;
	width:100%;
	min-width:960px;
	z-index:1000;
}
.header img{
	position:absolute;
	top:0px;
	left:30px;
}
.header select{
	margin-top:15px;
	margin-bottom:15px;
	margin-right:10px;
}
.header .quando{
	margin-right:30px;
}
.header .quando.backButtonPresent{
	margin-right:10px;
}
.header a{
	margin-right:30px;
	color:rgba(255,255,255,.5);
	text-shadow: 0px 1px 3px #333;
}
.header a:hover{
	color:white;
	text-shadow: 0px 1px 3px #333;
}

/* ====== BG ====== */
.bg{
/*	min-width:960px;*/
	position:fixed;
	z-index:1;
}

.lens{
/*	min-width:960px;*/
	position:fixed;
	background-color:rgba(0,0,0,.7);
	z-index:2;
}

/* ====== CONTENTS ====== */
.contents {
/*	min-width:960px;*/
	position:absolute;
/*	background-color:rgba(0, 0, 255, .2);*/
	z-index:3;
}

/* ====== TIMELINE ====== */
.timeline{
/*	min-width:960px;*/
	position:fixed;
	z-index:4;
}
.timeline-now{
/*	min-width:960px;*/
	position:fixed;
	z-index:5;
}
.bullet{
	font-size:14px;
	vertical-align:-1px;
	margin-right:5px;
	line-height:150px;
}
.line{
	position:absolute;
	width:1px;
	height:100px;
	font-size:11px;
	text-indent:-2px;
	color:white;
	text-shadow: 0px 1px 3px #333;
	background-color:rgba(255,255,255,.2);
}
.line span{
	opacity:.7;
}
.line.t{
	background-image: url(../img/interface/linha-tracejada.png);
}
.line.t .bullet{
	line-height:177px;
}
.line.t span{
	opacity:1;
}

/* ====== ATIVIDADES ====== */
.contents {
	overflow-x:hidden;
	overflow-y:hidden;
}
.scroller {
	position:absolute;
	z-index:-1;
/*	background-color:rgba(0,255,0,.5);*/
/*	z-index:1001;*/
}
.contents .activities{
	min-width:960px;
	position:absolute;
	z-index:6;
}
.event{
	display:block;
	clear:both;
	margin-bottom:2px;
	margin-left:90px;
	height:26px;
	font-weight:normal;
}
.event span:hover{
	font-weight:bolder;
}
.event.past{
/*	opacity:.8;*/
	display:none;
}
.dot{
	position:relative;
	display:block;
	clear:both;
	width:5px;
	height:5px;
	border-radius:30px;
	border-width:2px;
	border-style:solid;
	border-color:white;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,.3);
/*	transition-property: border-width, width, height;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	-webkit-transition-property: border-width, width, height;
	-webkit-transition-duration: .5s;
	-moz-transition-property: border-width, width, height;
	-moz-transition-duration: .5s;
	-o-transition-property: border-width, width, height;
	-o-transition-duration: .5s;*/
}
.dot.selected{
	background-color:white;
}
.dot.big{
	width:17px;
	height:17px;
	border-width:4px;
	background-color:rgba(255,255,255,0);
/*	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;*/
}
.dot.past{
	border-color:rgba(255,255,255,0);
	background-color:rgba(255,255,255,0);
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0);
}
.dot.selected.past{
	border-color:white;
	background-color:white;	
	box-shadow: 0 1px 2px 0px rgba(0,0,0,.3);
}
.dot.big.selected{
	border-radius:30px;
	border-width: 12px;
	width: 1px;
	height: 1px;
	box-shadow: 0 1px 7px 0px rgba(0,0,0,.5);
	background-color:rgba(255,255,255,1);
/*	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;*/
}
.range{
	position:relative;
	display:block;
	width:100px;
	height:25px;
	border-width:0px;
	border-radius:30px;
	background-color:rgba(255,255,255,.3);
	background-image:none;
	cursor:pointer;
/*	transition-property: border-width, width, height;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	-webkit-transition-property: border-width, width, height;
	-webkit-transition-duration: .5s;
	-moz-transition-property: border-width, width, height;
	-moz-transition-duration: .5s;
	-o-transition-property: border-width, width, height;
	-o-transition-duration: .5s;*/
}
.range:hover{
	background-color:rgba(255,255,255,.6);
	background-image:none;
}
.range.notSure{
	background-color:rgba(255,255,255,0);
	background-image:url(../img/interface/pattern_30.png);
}
.range.notSure:hover{
	background-color:rgba(255,255,255,0);
	background-image:url(../img/interface/pattern_60.png);
}
.range.mini{
	width:100px;
	height:9px;
/*	background-color:rgba(255,255,255,.15);*/
	top:9px;
}
.range.hidden{
	width:0px;
	height:5px;
}
.label{
	position:relative;
	top:-20px;
	text-shadow: 0px 1px 3px #333;
	cursor:pointer;
	white-space: nowrap;
	font-weight:normal;
}
.label:hover{
	font-weight:bolder;
}
.label img{
	margin-bottom: -2px;
	margin-left: 5px;
	opacity:0;
}
.label.over img{
	opacity:1;
}
.label.mini{
	top:-3px;
}

.label.past{
	opacity:.7;
}

/* ====== CONTENT-INFO ======*/
.content-info{
	min-width:960px;
	background-color:rgba(0,0,0,.3);
/*	margin-bottom:1px;*/
	padding-bottom:5px;
}
.content-info.closed{
	display:none;
}
.content-info p{
	width:700px;
	line-height:1.2em;
	margin-bottom: 9px;
	margin-left:31px;
	color:white;
	cursor:pointer;
}
.content-info h1{
	display:block;
	margin-top:15px;
	margin-bottom:-10px;
	margin-left:30px;
	float:left;
	cursor:pointer;
	color:white;
}
.content-info h1 em{
	font-style:normal;
	color:rgba(255,255,255,.6);
}
.content-info h2{
	margin-bottom:-10px;
}
.content-info img{
	display: inline-block;
	margin-top: 13px;
	padding-left: 8px;
	margin-bottom: 5px;
	cursor: pointer;
}
.content-info .fechar{
	opacity: .4;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor:pointer;
}
.content-info h4{
	display:block;
	text-align:right;
	margin-top:-2em;
	margin-right:30px;
	font-weight:normal;
	color:rgba(255,255,255,.5);
}

/* ====== FOOTER ====== */
.footer {
	min-width:960px;
	position:fixed;
	bottom:0;
	left:0;
	color:rgba(255, 255, 255, .6);
	z-index:999;
}
.footer .site-info{
	min-width:960px;
	background-color:rgba(0, 0, 0, .6);
	text-align: right;
}
.footer .site-info p{
	margin:0px;
	padding:10px;
	color:rgba(255,255,255,.6);
}
.footer .site-info a, .footer .site-info .fake-link{
	text-decoration:none;
	color:rgba(255,255,255,.6);
}
.footer .site-info a:hover, .footer .site-info .fake-link:hover, .footer .site-info .fake-link .open{
	color:rgba(255,255,255,1);
}
.footer .site-info img{
	float:right;
	height:26px;
	margin-top:-7px;
	margin-left:15px;
	margin-right:15px;
}

/* ====== FORMS ====== */
#mini-balloon-body input{
	width:335px;
	margin-top:0.5em;
	margin-bottom:1em;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:11px;
}
#mini-balloon-body input[type='submit'], #mini-balloon-body button{
	height:19px;
	margin-bottom:0px;
}
#mini-balloon-body label.required:before {
	content: "* ";
}