body{
	background-color: #2a2a2a;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color:white;
	font-size:11px;
}
div.header{
	position:absolute;
	background-color: rgba(255, 255, 255, .3);
	box-shadow: 0 3px 5px 0px rgba(0,0,0,.1);
	text-align:right;
	width:100%;
}
div.header img{
	position:absolute;
	top:0px;
	left:30px;
}
div.header select{
	margin-top:15px;
	margin-bottom:15px;
	margin-right:10px;
}
div.header .quem{
	margin-right:30px;
}