Options +FollowSymlinks
RewriteEngine on
RewriteRule ^/?$ http://calendariocultural.com.br/fotografia [R=307,L]
RewriteRule ^fotografia index.php?s=s1 [QSA]
RewriteRule ^cafesuplicy index.php?s=s2 [QSA]
RewriteRule ^pensamentoereflexao index.php?s=s3 [QSA]