#RewriteEngine On    # Turn on the rewriting engine
#RewriteRule  ^/cafesuplicy/?$  index.html?s=s2  [NC,L]
Options +FollowSymlinks
RewriteEngine on
# RewriteBase    /~calendar/ #while developing
# RewriteRule ^cafesuplicy/(.+)/?$ index.php?s=s2&q=$1 [NC,L]
# RewriteRule ^cafesuplicy/(.+) index.php?s=s2&q=$1 [NC,L]
RewriteRule ^fotografia index.php?s=s1 [QSA]
RewriteRule ^cafesuplicy index.php?s=s2 [QSA]
RewriteRule ^pensamentoereflexao index.php?s=s3 [QSA]